@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.card-container {
  font-family: inherit;
  font-weight: bold;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 35vw;
  width: 100%;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: center;
  font-size: 16px;
  line-height:2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: all .3s ease-in-out;
}

.card-container:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.21);
  transition: all .3s ease-in-out;
}

.card-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card-container .profile-image {
  padding: 15% 10% 0;
}

.card-container .profile-image img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  border-radius: 50%;
  max-width: 40%;
}

.card-container figcaption {
  padding: 5% 5% 15%;
}

.card-container figcaption p{
  padding: 5% 0 2.5% 0;
}

.card-container h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.card-container h4 {
  font-weight: 600;
}

.card-container h5 {
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  color: #342f2f;
  letter-spacing: 1px;
}

.card-container .icons {
  padding-top: 2.5%;
}

.card-container .icons i {
  color: #00aced;
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5em;
  transition: all .3s ease-in-out;
}

.card-container .icons i:hover {
  color: #555;
  transition: all .3s ease-in-out;
}

.card-container .icons i a {
  text-decoration: none;
}