/*Background */
body {
    min-height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(226,240,254,1) 0%, rgba(255,247,228,1) 90% );
    background-repeat: no-repeat;
    font-family: 'Roboto Slab', serif;
    line-height: 47px;
}
/* End Background */

.samples {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.sample {
    width: 400px !important;
}

.alert-info {
    display:none;
    color: #111111;
    background-color: #c6ddef;
    border-color: #0d0e0e;
    font-size: x-large;
    margin: 0.5% 0 2% 0;
}

.form-horizontal {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-control {
    font-size: 34px;
    height: 104px;
}

.form-group {
    margin-bottom: 4em;
}

#form-container {
    margin-top:10em;
}

.control-label {
    font-size: xxx-large;
}

#numsearch-input-div {
    display:none
}

#piechart {
    display: none;
    justify-content: center;
}

#barchart {
    display: none;
    justify-content: center;
}

#twitter-samples {
    display:none;
    justify-content: center;
}

#twitter-samples .row {
    display: flex;
}

.figure-element {
    margin: 1em 1em 0 1em;
}

.figure-element h4 {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

nav {
    background-color: #212121;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    box-shadow: 0 2px 10px 0 rgba(226,240,254,1);
    font-family: 'Playfair Display', serif;
    position:fixed;
    }

/*Nav logo css*/
nav .nav-logo {
    float: left;
    margin-left: 30px;
}
nav .nav-logo a {
    font-size: 28px;
    font-weight: 300;
    line-height: 80px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    /*noinspection CssNonIntegerLengthInPixels*/
    letter-spacing: 0.5px;
}
nav .nav-logo img {
    padding: 0 10px 10px 0;
}

nav .nav-logo span {
    margin: auto 0.5em 0.7em auto;
}

#samples-header {
    font-weight: 600;
}

.form-horizontal .control-label {
    text-align: left;
}

