<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
    <script>
        function getInputs() {
            let searchterm = $("#searchterm").val()
            if ((searchterm != null) && (searchterm.length < 2 || searchterm.length > 25)) {
                document.getElementById("searchterm-error-warning").style.display = 'block';
                document.getElementById("searchterm-error-warning").innerHTML = "<p>&#9432 Search term must be longer than 2 characters and fewer than 25.</p>";
                searchterm = "";
            }

            if (searchterm !== "" && searchterm != null) {
                // reset warnings
                document.getElementById("searchterm-error-warning").style.display = 'none';
                document.getElementById("searchterm-error-warning").innerHTML = "";
                $("#numsearch-input-div").fadeIn(200);
                document.getElementById("numsearch-input-div").style.display = 'block'
            }

            let numsearch = $("#numsearch").val()
            if (isNaN(numsearch)) {
                document.getElementById("numsearch-error-warning").innerHTML = "<p>&#9432 You must insert a valid number.</p>";
                numsearch = 0;
            }
            if (numsearch != null) {
                if (numsearch.valueOf() > 100 || numsearch.valueOf() <= 0) {
                    document.getElementById("numsearch-error-warning").style.display = 'block';
                    document.getElementById("numsearch-error-warning").innerHTML = "<p>&#9432 Insert a number of tweets between 1 and 100.</p>";
                    numsearch = 0;
                }
            }

            if (searchterm !== "" && searchterm != null && numsearch !== 0 && numsearch != null) {
                document.getElementById("searchterm-error-warning").style.display = 'none';
                document.getElementById("searchterm-error-warning").innerHTML = "";
                document.getElementById("numsearch-error-warning").style.display = 'none';
                document.getElementById("numsearch-error-warning").innerHTML = "";
                cb(searchterm, numsearch);
            }
        }

        function cb(searchterm, numsearch) {

            req = $.ajax({
                    url : "/callback",
                    type : "GET",
                    data : {'searchterm':searchterm, 'numsearch':numsearch}
            });

            req.done(function(data) {
                var graphs = JSON.parse(data);
                var positive_sample_div = document.getElementById('positive-sample');
                var negative_sample_div = document.getElementById('negative-sample');
                var neutral_sample_div = document.getElementById('neutral-sample');

                document.getElementById("piechart").style.display = 'flex';
                document.getElementById("barchart").style.display = 'flex';
                document.getElementById("twitter-samples").style.display = 'flex';

                $("#piechart").fadeOut(50).fadeIn(600);
                $("#barchart").fadeOut(50).fadeIn(600);
                $("#twitter-samples").fadeOut(50).fadeIn(600);

                Plotly.react('piechart', JSON.parse(graphs.piegraphJSON), {});
                Plotly.react('barchart', JSON.parse(graphs.bargraphJSON), {});

                createsample(graphs.positivesample,graphs.positivedatacount, positive_sample_div);
                createsample(graphs.negativesample,graphs.negativedatacount, negative_sample_div);
                createsample(graphs.neutralsample,graphs.neutraldatacount, neutral_sample_div);
            });
    }
    </script>
</head>

<body>
    <nav>
        <div class="nav-logo">
            <span class="fa-stack fa-lg">
              <i class="fa fa-twitter fa-stack-2x fa-inverse"></i>
            </span>
            <a href="/">
                Twitter Sentiment Analysis
            </a>
        </div>
    </nav>
  <div class="container" id="form-container">
      <form class="form-horizontal" id="inputs">
          <div id="searchterm-input-div" class="form-group">
              <label for="searchterm" class="control-label">Insert a twitter hashtag or a topic:</label>
              <input type="text" id="searchterm" name="searchterm" class="form-control" placeholder="# is already included" onchange="getInputs()">
              <div id="searchterm-error-warning" class="alert alert-info fade in"></div>
          </div>
          <div id="numsearch-input-div" class="form-group">
              <label for="numsearch" class="control-label">How many tweets?</label>
              <input type="text" id="numsearch" name="numsearch" class="form-control" placeholder="50 is a good amount to start with." onchange="getInputs()">
              <div id="numsearch-error-warning" class="alert alert-info fade in"></div>
          </div>
      </form>
  </div>

    <div class="container-fluid" id="chart-container">
        <div id='piechart' class='piechart'></div>
        <div id='barchart' class='barchart'></div>
    </div>

  <div id="twitter-samples" class="samples">
      <h3 id="samples-header">Some samples from the analyzed data</h3>
      <div class="row">
          <div class="figure-element">
              <h4>Positive tweet</h4>
              <figure class="card-container" id="positive-sample" >
                <div class="profile-image"><img src="#" alt="profileimage1" /></div>
                <figcaption>
                  <h3>John Doe</h3>
                  <h5>@Johndoe</h5>
                  <p>Tweet text here.</p>
                  <div class="icons">
                    <a href="#"> <i class="ion-social-twitter"></i></a>
                  </div>
                </figcaption>
              </figure>
          </div>
          <div class="figure-element">
              <h4>Negative tweet</h4>
              <figure class="card-container" id="negative-sample">
                <div class="profile-image"><img src="#" alt="profile-image2" /></div>
                <figcaption>
                  <h3>Jane Doe</h3>
                  <h5>@JaneDoe</h5>
                  <p>Tweet text here.</p>
                  <div class="icons">
                    <a href="#"> <i class="ion-social-twitter"></i></a>
                  </div>
                </figcaption>
              </figure>
          </div>
      </div>
      <div class="figure-element">
          <h4>Neutral tweet</h4>
          <figure class="card-container" id="neutral-sample">
            <div class="profile-image"><img src="#" alt="profile-image3" /></div>
            <figcaption>
              <h3>Ole Nordmann</h3>
              <h5>@OleNordmann</h5>
              <p>Tweet text here.</p>
              <div class="icons">
                <a href="#"> <i class="ion-social-twitter"></i></a>
              </div>
            </figcaption>
          </figure>
      </div>
 </div>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="https://platform.twitter.com/widgets.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type='text/javascript'>
    // Show graphs
  var piegraph = {{piegraphJSON | safe}};
  var bargraph = {{bargraphJSON | safe}};
  Plotly.plot('piechart',piegraph,{});
  Plotly.plot('barchart',bargraph,{});
</script>
<script>
    function createsample(sample, data_count, sample_div) {
        // Embed sentiment tweet from results
        sample = JSON.parse(sample);

        let ut = "";
        if (data_count == 0){
            ut = "<p>" + "Sample not found - no tweet example with this reaction from your search."
            sample_div.innerHTML = ut;
        }
        else {
            ut = '<div class="profile-image"><img src=' + sample.img + '></div>' +
                '<figcaption><h3>' + sample.author + '</h3>' +
                  '<p>' + sample.text + '</p>' +
                  '<h5>' + sample.created_at + '</h5>' +
                  '<div class="icons"><a href=' + sample.link + 'target="_blank"> <i class="ion-social-twitter"></i></a>' +
                  '</div></figcaption>'
            sample_div.innerHTML = ut;
        }
    }
</script>
</html>